<em>(Game Options Here)</em>
<ul>
  <li>Public or unlisted</li>
  <li>VS Human or VS AI</li>
  <li>Time Controls</li>
</ul>
<%= form_for @conn, Routes.game_path(@conn, :create), [as: :game], fn _f ->  %>
  <%= submit "Start Game", class: "btn btn-primary" %>
<% end %>
