<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DemonSpirit · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="antialiased text-gray-900">
    <header>
      <div class="bg-gray-100 font-sans w-full m-0 mb-2 shadow">
        <div class="bg-blue-700 text-white shadow">
          <div class="container mx-auto px-4">
            <div class="flex items-center justify-between py-1">
              <!-- Left Side -->
              <div class="flex items-center">
                <%= link "Demon Spirit", to: Routes.game_path(@conn, :index), class: "underline hover:text-blue-300" %> <span class="text-xs ml-1 text-gray-300">(0.2.2)</span>
              </div>

              <!-- Right Side -->
              <div class="flex items-center">
                <%= if @current_guest do %>
                  <span class="mx-6">
                  Logged in as <%= @current_guest.name %> (guest).
                  </span>
                  <%= link "Log Out", to: Routes.session_path(@conn, :delete), method: :delete, class: "hover:text-red-600 underline"  %>
                <% else %>
                    <%= link "Log In", to: Routes.session_path(@conn, :new), class: "underline hover:text-blue-300"  %>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </header>
    <main role="main" class="container mx-auto px-4 pt-2">
      <%= if get_flash(@conn, :info) != nil do %>
        <p class="alert alert-info mt-2" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) != nil do %>
        <p class="alert alert-error mt-2" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
