<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DemonSpirit</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="antialiased text-gray-900">
    <header>
      <div class="w-full m-0 mb-2 font-sans bg-gray-100 shadow">
        <div class="text-white bg-blue-700 shadow">
          <div class="container px-4 mx-auto">
            <div class="flex items-center justify-between py-1">
              <!-- Left Side -->
              <div class="flex items-center">
                <%= link "Demon Spirit", to: Routes.game_path(@conn, :index), class: "underline hover:text-blue-300" %> <span class="ml-1 text-xs text-gray-300">(1.6.1)</span>
              </div>

              <!-- Right Side -->
              <div class="flex items-center">
                <%= if @current_guest do %>
                  <span class="mx-6">
                  Logged in as <%= @current_guest.name %> (guest).
                  </span>
                  <%= link "Log Out", to: Routes.session_path(@conn, :delete), method: :delete, class: "hover:text-red-600 underline"  %>
                <% else %>
                    <%= link "Log In", to: Routes.session_path(@conn, :new), class: "underline hover:text-blue-300"  %>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </header>
    <main role="main" class="container px-2 pt-2 mx-auto">
      <%= if get_flash(@conn, :info) != nil do %>
        <p class="mt-2 alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) != nil do %>
        <p class="mt-2 alert alert-error" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <%= @inner_content %>
    </main>
    <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
