<%= case @player do %>
  <% nil -> %>
    <span class="italic text-gray-600">(empty)</span>
  <% %DemonSpirit.Guest{} -> %>
    <%= @player.name %> <span class="italic text-gray-600">(g)</span>
  <% %{type: :computer} -> %>
    <span class="text-blue-700 italic"><%= @player.name %></span>
  <% _ -> %>
    Unknown
<% end %>
